Source: openmediavault-btsync
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: backup

Package: openmediavault-btsync
Architecture: all
Depends: openmediavault (>= 1.1), btsync (<< 2), php5-curl, ${misc:Depends}
Description: BitTorrent Sync plugin for OpenMediaVault.
 Manage BitTorrent Sync directly from the web interface provided by
 OpenMediaVault.
