Source: openmediavault-btsync
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-btsync
Architecture: all
Depends: openmediavault (>= 0.6), btsync, makepasswd, ${misc:Depends}
Description: BitTorrent Sync plugin for OpenMediaVault.
